@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=Poppins&display=swap');

:root{
    font-size: 16px;
}

body{
    background-color: #211324;
    color : #B9B9B9
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #140B15;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #394032;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #292F23;
}

/* Track */
::-webkit-scrollbar-track:horizontal {
    background: #140B15;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb:horizontal {
    background: #394032;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:horizontal:hover {
    background: #292F23;
}